@model Project_EDEO.Models.Diagnostic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Are you sure you want to <strong>delete</strong> this medical record?
    </div>
    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.MedicalRecord.Name, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Last name</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.MedicalRecord.LastName, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Chronological age</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.ChronologicalAge, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Estimated age</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.ModelEstimatedAge, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Doctor's estimation</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.DoctorEstimatedAge, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Estimation date</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Image</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.Image, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-footer">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href=@Url.Action("Index", "Diagnostics") class="btn btn-secondary" type="button">Back to list</a>
        </div>
    }
</div>