@model Project_EDEO.Models.Diagnostic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Diagnostic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChronologicalAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChronologicalAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelEstimatedAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelEstimatedAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorEstimatedAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorEstimatedAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiagnosticID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
