@model Project_EDEO.Models.Diagnostic

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    @using (Html.BeginForm(new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="card-header">
            <strong>Edit existing</strong> medical record
        </div>
        <div class="card-body card-block">
            <div class="row form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Chronological age</label></div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.ChronologicalAge, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @placeholder = "Name", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChronologicalAge, "", new { @class = "form-text text-muted text-danger" })
                </div>
            </div>
            <div class="row form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Model estimation</label></div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.ModelEstimatedAge, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @placeholder = "Name", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModelEstimatedAge, "", new { @class = "form-text text-muted text-danger" })
                </div>
            </div>
            <div class="row form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Doctor's estimations</label></div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.DoctorEstimatedAge, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @placeholder = "Name", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DoctorEstimatedAge, "", new { @class = "form-text text-muted text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Date</label></div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @placeholder = "Last Name", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "form-text text-muted text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Image</label></div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "form-text text-muted text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.UserID, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @placeholder = "Date", @class = "form-control" } })
            @Html.HiddenFor(model => model.MedicalRecordID, new { htmlAttributes = new { @id = "text-input", @name = "text-input", @placeholder = "Date", @class = "form-control" } })
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success btn-sm">
                <i class="fa fa-dot-circle-o"></i> Save
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    }
</div>

<div>
    <a href=@Url.Action("Index", "Diagnostics") class="btn btn-outline-secondary" type="button">Back to list</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}