@model IEnumerable<Project_EDEO.Models.Diagnostic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedicalRecord.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChronologicalAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelEstimatedAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorEstimatedAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalRecord.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChronologicalAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelEstimatedAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorEstimatedAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiagnosticID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiagnosticID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiagnosticID })
        </td>
    </tr>
}

</table>
