@model IEnumerable<Project_EDEO.Models.Diagnostic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">

<div class="card">
    <div class="card-header">
        <strong class="card-title">Medical Records</strong>
        <a href=@Url.Action("Create", "Diagnostics") class="btn btn-primary btn-sm pull-right">Create New</a>
    </div>
    <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Chronological age</th>
                    <th>Model estimation</th>
                    <th>Doctor estimation</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img src="@item.Image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicalRecord.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChronologicalAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelEstimatedAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoctorEstimatedAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DiagnosticID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DiagnosticID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DiagnosticID })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/assets/js/lib/data-table/datatables-init.js"></script>
}