@model Project_EDEO.Models.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/About/_Layout_Landing.cshtml";
}

<!-- Page top section start -->
<div class="page-top-area set-bg" data-setbg="@Url.Content("~/images/hero-slider/.jpg")">
    <div class="breadcrumb-area">
        @Html.ActionLink("Home", "Index", "About") / <span>Contact</span>
    </div>
</div>


<!-- Contact section start -->
<section class="contact-section set-bg spad" data-setbg="@Url.Content("~/images/contact-bg.jpg")">
    <div class="container-fluid contact-warp">
        <div class="contact-text">
            <div class="container p-0">
                <span class="sp-sub-title">EDEO Project</span>
                <h3 class="sp-title">Stay in touch</h3>
                <p>We are currently in development process. Feel free to contact us if you want to request a demo.</p>

                <ul class="con-info">
                    <li><i class="flaticon-envelope"></i>parma@tec.ac.cr</li>
                    <li><i class="flaticon-placeholder"></i>Costa Rica Institute of Tecnology<br> Cartago, Costa Rica</li>
                </ul>
            </div>
        </div>
        <div class="container p-0">
            <div class="row">
                <div class="col-xl-8 offset-xl-4">
                    @using (Html.BeginForm("Email", "About", null, FormMethod.Post, new { @class = "contact-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @type = "text", @placeholder = "Your name" } })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @placeholder = "E-mail" } })
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @type = "text", @placeholder = "Subject" } })
                                @Html.TextAreaFor(model => model.Message, 10, 80, new { @placeholder = "Message" })
                                <button class="site-btn light">Send</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->