
@{
    ViewBag.Title = "Us";
    Layout = "~/Views/About/_Layout_Landing.cshtml";
}

<!-- Page top section start -->
<div class="page-top-area set-bg" data-setbg="@Url.Content("~/images/headers-bg/1.jpg")">
    <div class="breadcrumb-area">
        @Html.ActionLink("Home", "Index", "About") / <span>Sobre nosotros</span>
    </div>
</div>
<!-- Page top section end -->
<!-- Intro section start -->
<section class="intro-section sp-pad spad">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-4 intro-text">
                <span class="sp-sub-title">Proyecto EDEO</span>
                <h3 class="sp-title">Nuestro equipo</h3>
                <p>Somos estudiantes de la carrera Ingeniería en Computación del Instituto Tecnológico de Costa Rica. Actualmente cursamos el último año de carrera.</p>
                <p>EDEO está fuertemente ligado con el grupo de investigación PARMA. En conjunto se trabaja para generar soluciones como las que este proyecto ofrece.</p>
            </div>
            <div class="col-xl-7 offset-xl-1">
                <figure class="intro-img mt-5 mt-xl-0">
                    <img src="~/images/intro.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
<!-- Progress section start -->
<div class="progress-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="worknav wn-next">
                    <a href="#" class="wn-thumb set-bg" data-setbg="@Url.Content("~/images/profiles/profile_1.jpg")"></a>
                    <div class="wn-info">
                        <h3>Alonso Rivas</h3>
                        <span>alonsors.809@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="worknav wn-next">
                    <a href="#" class="wn-thumb set-bg" data-setbg="@Url.Content("~/images/profiles/profile_2.jpg")"></a>
                    <div class="wn-info">
                        <h3>Jason Latouche</h3>
                        <span>96jaslat@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 cp-item">
                <div class="worknav wn-next">
                    <a href="#" class="wn-thumb set-bg" data-setbg="@Url.Content("~/images/profiles/profile_3.jpg")"></a>
                    <div class="wn-info">
                        <h3>Michael Granados</h3>
                        <span>migramenani@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Progress section end -->
<!-- Review section start -->
<section class="review-section spad sp-pad set-bg" data-setbg="@Url.Content("~/images/review-bg.jpg")">
    <div class="container-fluid p-0 review-warp">
        <div class="row">
            <div class="col-xl-4">
                <span class="sp-sub-title">Ticos diseñan tecnología que mejora identificación de trastornos de crecimiento en niños</span>
                <h3 class="sp-title">Seminario Universidad</h3>
                <a href="https://semanariouniversidad.com/universitarias/ticos-disenan-tecnologia-que-mejora-identificacion-de-trastornos-de-crecimiento-en-ninos/" class="site-btn light">Leer noticia</a>
            </div>
            <div class="col-xl-7 offset-xl-1">
                <div class="review-slider owl-carousel">
                    <div class="rs-item">
                        <div class="qute">“</div>
                        <p>A nosotros nos interesa, como grupo de investigación, transferir esta tecnología al diario vivir de la sociedad costarricense, y me parece prioritario que eso se transfiera al sistema de salud público para que tenga un impacto en el corto y mediano plazo.</p>
                        <figure class="client-pic">
                            <img src="~/images/client.png" alt="#">
                        </figure>
                        <h4>Saúl Calderón, Investigador en PARMA</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review section end -->
<!-- Work nav section start -->
<section class="worknav-section sp-pad">
    <div class="container-fluid p-0">
        <h3>Otras experiencias</h3>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="worknav wn-prev">
                    <a href="https://www.facebook.com/ParmaResearchGroup/posts/1806351309448924" class="wn-thumb set-bg" data-setbg="@Url.Content("~/images/profiles/profile_4.jpg")"></a>
                    <div class="wn-info">
                        <h3>Congreso Nacional de Radiología</h3>
                        <span>Investigadores PARMEÑOS Mauro Méndez, Saul Calderón y Manuel Zumbado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work nav section end -->